<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIWcU4GXggPONBirxEQP-eYDsTXLxS9_E</string>
	<key>GCM_SENDER_ID</key>
	<string>702831431784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lightphoenix.b3devgr2</string>
	<key>PROJECT_ID</key>
	<string>groupe2efreiswift</string>
	<key>STORAGE_BUCKET</key>
	<string>groupe2efreiswift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702831431784:ios:ef1306102813c294b26bdd</string>
</dict>
</plist>